# Виртуальные окружения
env/
venv/
.venv/

# Файлы окружения
.env
.env.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore